{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
<link href="{{asset('asset/css/home.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{ form_start(form, {attr: {class: 'filter'}}) }}
            {{ form_row(form.q) }}
            <h4>Categories</h4>
            {{ form_row(form.categories) }}
            <button type="submit" class=" btn btn-primary w-100">Filtrer</button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-9">
            {% for injustice in injustices %}
            <a class="link-injustice" href="{{ path('injustice_show', {id: injustice.id}) }}">
                <div class="card card-home">
                    <div class="card-header">
                        Proposé par <span class="author">{{injustice.author}}</span> le {{injustice.date|date('d/m/Y')}}
                        {% for i in range(0, injustice.theme|length -1) %}
                        {{ injustice.theme[i].icon|raw }}
                        {% endfor %}
                    </div>
                    <div class="card-body">
                        <h5>{{injustice.title}}</h3>
                            {{injustice.description|u.truncate(400, ' ...')}}
                    </div>
            </a>
            <div class="card-footer">
                <a class="btn btn-link js-like" href="{{ path('post_like', {id: injustice.id}) }}">
                    {% if app.user and injustice.isLikedByUser(app.user) %}
                    <i class="fas fa-thumbs-up"></i>
                    {% else %}
                    <i class="far fa-thumbs-up"></i>
                    {% endif %}
                    <span class="js-likes">{{injustice.likes| length}}</span>
                    <span class="js-label">j'aime</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    const LIKE_ICON = 'far fa-thumbs-up';
    const UNLIKE_ICON = 'fas fa-thumbs-up';
    Array.from(document.querySelectorAll('a.js-like')).forEach(function (link) {
        link.addEventListener('click', onClickLink);
    });
    async function onClickLink(event) {
        event.preventDefault();
        const url = this.href;
        const icone = this.querySelector('i');
        const count = this.querySelector('span.js-likes');
        try {
            const result = await axios.post(url);
            const data = result.data;
            icone.className = icone.className === LIKE_ICON ? UNLIKE_ICON : LIKE_ICON;
            count.textContent = data.likes;
        } catch (error) {
            if (error.response.status === 403) {
                window.location = '/login'
            }
        }
    }
</script>
{% endblock %}